:root {
  --primary: #c1121f;
  --dark: #111;
  --light: #f8f9fa;
}
html {
  scroll-behavior: smooth;
}
/* Navbar */
.navbar {
  background-color: #ffffff !important;
}

.navbar .nav-link {
  color: #111 !important;
  font-weight: 500;
  font-size: 1.1rem;
}

.navbar .nav-link:hover {
  color: #c1121f !important;
}

.navbar .nav-link.active {
  color: #c1121f !important;
  font-weight: 600;
}
/* Hero */
.hero-section {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #000;
}

/* CTA */
.cta-section {
  background-color: var(--dark);
}

/* Footer */
.footer-section {
  background-color: #000;
}

/* About box */
/* About full viewport */
.about-section {
  min-height: 100vh;
  background-color: #f8f9fa;
  padding-top: 80px; /* علشان navbar fixed */
  padding-bottom: 40px;
}
.about-box {
  border-left: 4px solid var(--primary);
}
/* Contact full viewport */
.contact-section {
  min-height: 100vh;
  background-color: #111;
  padding-top: 80px;   /* علشان navbar fixed */
  padding-bottom: 40px;
}
